/*PSEUDOCODE
/*Needed variables:  Wins, Losses, Computer Generated Number, User Total Score,
/*Computer generates a random value from 19-120
/*Each crystal generates a randmo value from 1-12
/*Crystals values change at game reset
/*Games resets if User guesses correct number
/*User loses if they exceed random number && game resets
/*Wins & Losses variable does not reset
/* */


body {
    background-image: url("../CSS/crystals.jpg");
    background-size: cover;
    size: 100%;

}

.container {
    /*Using Bootstrap Grid system for easy responsivenss*/
    width: 75%;
    text-align: center;
    margin-top: 10px;
}

h1 {
    font-family: 'Michroma', sans-serif;

}

.gameTitle {
    font-size: 4.0rem;
}

h2 {

    font-weight: bold;
    padding-bottom: 2px;
}

h4, h3, h2, p, li {
    font-family: 'Michroma', sans-serif;
    padding-top: 5px;
    font-weight: bold;
    }

#logo {
    
    color: white;
    background-color: #E92EFB;
    /* margin: 5px 0px 3px 0px; */
    font-size: 4.0rem;
    
}

header {

    margin: 2px;
}
       

#row1 {
    height: auto;
    overflow: hidden;
    background-color: whitesmoke;
    color:blue;
    border: 5px solid #E92EFB;
    margin-bottom: 3px;

}

#row2col1 {
    height: auto;
    overflow: hidden;
    background-color: #E92EFB;
    color:white;
    border: 5px solid white;
  
    
}

.score {

    padding-top: 0;
    margin-bottom: 5px;
}
.scoreText {
    margin-bottom: 0;
    
}

#row2col3 {
    height: auto;
    overflow: hidden;
    background-color: #E92EFB;
    color:white;
    border: 5px solid white;
 
}

ul, li {
    padding-bottom: 0;
} 

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
    /* background-color: #1250A6;
    border: 2px solid #E92EFB; */

}

/*image columns have width of 16.65% each to fit in row*/
.crystal-row {
flex: 16.65%;
max-width: 16.65%;
padding: 0 4 px;
background-color: white;

}

img {
margin-top: 8px;
vertical-align: middle;
width: 100%;

}

img:hover {
    opacity: 0.5;
}

#redRuby {
    cursor: pointer;
    
 }
      
#diamond {
    cursor: pointer;
 }     

#yellowSapphire {
    cursor: pointer;

 }
      
#greenEmerald {
    cursor: pointer;
 }
      
 
#row3 {
    height: auto;
    overflow: hidden;
    background-color: whitesmoke;
    color:#1250A6;
    border: 5px solid #E92EFB;
    margin-bottom: 3px;

}
/* background-image: url("../images/treasureChest.jpg"); */
